@font-face {
    font-family: 'Biotif';
    src: url('fonts/Biotif-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Biotif Black';
    src: url('fonts/Biotif-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Chunk Black';
    src: url('fonts/chunk-black.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Forum';
    src: url('fonts/Forum-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}



:root {
    --clr-background: #FDF9E6;
    --clr-background: #fcf7ed;
    --clr-container-on-background: #ffffff;
    --clr-text: black;
    --clr-primary: hsl(96, 46%, 68%);
    --clr-footer: #007947;
    --card-height: 50vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --outline-width: 0px;
}

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100vw;
}

body {
    margin:0;
    background-color: var(--clr-background);
    background-attachment: fixed;
    background-size: contain;
    color: var(--clr-text);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    overflow-x: scroll;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#email, #download-cv {
    font-weight: 600;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    width: 9rem;
    padding: 15px 15px 15px 15px;
    border-radius: 40px;
    margin-top: 20px;
    border: 1px solid black;
}

#email,  #download-cv {
    color: #fff;
    text-decoration: none;
}

#email:hover, #download-cv:hover {
    text-decoration: underline;
}


#home {
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 90px ;
    justify-items: center;
    box-sizing: border-box;
    height: fit-content;
}

#home > * {
    background-color: var(--clr-background);
    width: 100%;
    padding: 0px 20px;
}

#home > *:not(:first-child):not(:last-child) {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: entry 0;
    animation-range-end: entry 50vh;
}

@keyframes fade-in {
    from {scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

#home > *::before {
    content: '';
    display: block;
    height: 60px;
    margin-top: 30px;
    visibility: hidden;
}


#profile {
    padding: 0 30px 30px 30px;
    width: 100%;
    height: 600px;
    background: var(--clr-container-on-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
}

#description {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100vw;
    max-width: 2000px;
    align-items: flex-start;
    font-family: 'Forum', sans-serif;
    font-size: 26px;
    color: black;
    margin-top: 50px;
}


@media (max-width: 750px) {
    #description {
        flex-direction: column;
    }
}

.profile_image > img {
    box-shadow: 5px 5px 0px 0px #007947;
}

#publications-grid {
    display: grid;
    width: 100%;
    gap: 1rem;    
    grid-template-columns: repeat(1,minmax(200px,1fr));
    width: fit-content;
    max-width: 2000px;
    margin: auto;
    padding: 15px 0px;
    box-sizing: border-box;
}

@media (min-width: 750px) {
    #publications-grid {
        grid-template-columns: repeat(2,minmax(200px,1fr));
    }
}

.publication {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    border: 5px solid #007947;
    border-radius: 20px;
    padding: 20px;
    color: black;
    background-color: white;
}

.publication > div {
    height: 100%;
}

.publication-title {
    font-weight: 800;
    text-align: center;
    padding: 0px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.publication-date {
    width: 100%;
    text-align: center;
}

.publication-link {
    background-color: #000;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    width: 9rem;
    padding: 10px 12px;
    border-radius: 40px;
    margin-top: 20px;
    border: 1px solid white;
    bottom: 0;
    cursor: pointer;
}

.certification, .education, .book {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 7px;
    box-sizing: border-box;
}

.certification-title, .education-title, .project-title, .book-title {
    width: 200px;
    font-size: 14px;
    padding-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.certification-date, .publication-date, .education-date, .project-date, .book-date {
    font-size: 11px;
    opacity: 0.8;
}

#certifications-grid, #educations-grid, #books-grid {
    width: 289px;
    height: 100%;
    padding: 15px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

}


@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}


#project-cards {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding-inline-start: 0;
    width: 100%;
    position: relative;
}

#project-card-1 {
    .project-card-content {
        background-color: #bbd5db;
    }
}

#project-card-2 {
    .project-card-content {
        background-color: #c1dcbf;
    }
}

#project-card-3 {
    .project-card-content {
        background-color: #dfcebe;
    }
}

.project-card {
    top: 100px;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 2/1;
}


.project-card-content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    height: 100%;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    transform-origin: 50% 0%;
    will-change: transform;
}

.project-card-content > div {
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    place-items: start;

    h2 {
        height: 30px;
        margin-bottom: 0;
    }

    * {
        height: fit-content;
    }

    p {
        color: #494949;
        font-size: 0.7em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.project-card-content > figure {
    grid-area: img;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    margin: 0;

    img {
        background-size: cover;
        height: 100%;
        background-position:right;
    }
}



@keyframes row-horizontal {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
}

#projects-grid {
    /*display: grid;
    grid-template-columns: repeat(1,minmax(200px,1fr));
    grid-template-rows: repeat(3, 1fr);*/
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 15px 15px;
    gap: 20px;
    box-sizing: border-box;
}

#projects-grid > * {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    min-width: 70%;
    view-timeline-name: --item-timeline3;
    animation: row-horizontal both;
    animation-timeline: view(inline);
    animation-range: entry 0% contain 50%;
}


#projects-grid > *:nth-child(1) > .project-img {
    background-image: url("./images/weather_img.png");
}

#projects-grid > *:nth-child(2) .project-img {
    background-image: url("./images/rotas_img.png");
}

#projects-grid > *:nth-child(3) .project-img {
    background-image: url("./images/encomendas_img.png");
}

.project-img {
    width: minmax(200px,1fr);
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 12px;
}

.project-details {
    text-align: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: #000;
    border-radius: 12px;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    width: 90%;
    padding: 0px 20px;
}

.project-title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 800;
    padding-top: 0;
}

.project-links {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.project-links > button {
    background-color: #000;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    padding: 10px 12px;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    bottom: 0;
    cursor: pointer;
}

#certifications-grid > *, #educations-grid > *, #books-grid > * {
    height: 60px;
    width: 275px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.certification:nth-child(4), .certification:nth-child(5), .certification:nth-child(6) {
    display: none;
}

.publication img, .education img, .project img {
    border-radius: 14px;
}

.project{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.banner {
    height: 70px;
    font-size: 21px;
    padding-top: 12px;
    padding-left: 0px;
    text-align: center;
    width: 100%;
}

.banner-title {
    font-size: 60px;
    font-family: 'Chunk Black', sans-serif;
    color: white;
    vertical-align: middle;
    height: 55px;
    width: 100%;
    border-radius: 7px;
    line-height: 38px;
}

.banner-title{
    color: #000;
}

#name {
    text-align: center;
}


#position {
    text-align: center;
    margin-bottom: 20%;
}

#self-photo {
    border-radius: 100%;
    height: 180px;
    width: 180px;
    object-fit: cover;
}


.outlinks{
    margin-top: 20px;
    padding-bottom: 60px;
    width: min-content !important;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a.certification, a.publication, a.project, a.book {
    color: var(--clr-text);
    text-decoration: none;
}

.header_title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 40px;
}

#header_description {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
    max-width: 40ch;
}

@media (max-width: 620px) {
    #header_description {
        padding-left: 10px;
        padding-right: 10px;
    }
}

a:hover {
    cursor: pointer;
}

.links_text {
    display: block;
    font-size: 30px;
    color: var(--clr-text);
    text-decoration: none;
}

.links {
    text-align: left;
    display: inline-block;
    margin: 5px 0px;
}

.links_icon:hover {
    cursor: pointer;
}

.links_icon > img {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    transition: 2ms ease-in-out;
}

.links_icon > img {
    transform: scale(1.1);
}

.tab_links {
    display: inline-block;
    position: relative;
    top:50%;
    transform: translateY(-35%);
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-family: 'Chunk Black', sans-serif;
    font-size: 25px;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
}

.link::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 2px;
    /*background-color: rgb(103, 177, 190);*/
    border-radius: 3px;
    background-color: #FDF9E6;
    opacity: 0;
    transform: translate3d(0,5px,0);
    transition: all 0.5s cubic-bezier(.175,.885,.32,1.275);
}

.tab_links:hover {
    cursor: pointer;
}

.link_container {
    position: relative;
    top: 50%;
    transform: translateY(100%);
}

.link {
    margin:0;
    text-align: center;
    font-size: 1.17em;
    font-weight: 400;
    line-height: 1.17em;
    width: min-content;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

.logo {
    font-family: 'Chunk Black', sans-serif;
    color: black;
    font-size: px;
    text-align: left;
    margin: 0;
    padding-top: 23px;
    padding-left: 0.5em;
    padding-bottom: 22px;
    z-index: 999;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

header {
    background: rgba(251, 228, 182, 0.6);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    transition: all 300ms ease-in-out;
}
  
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
  
.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 999;
  }
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
    transition:0.5s;
}
  
.nav-toggle-label span::before {
    bottom: 10px;
}
  
.nav-toggle-label span::after {
    top: 10px;
}
  
nav {
    position: absolute;
    text-align: left;
    top: 00%;
    left: 0;
    height: 100vh;
    background: rgba(251, 228, 182, 0.6);
    z-index: 5;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    border-radius: 0px;
    transition: transform 300ms ease-in-out;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}
  
nav ul {
    margin: 0;
    margin-top: 40%;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav a::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    border-radius: 3px;
    z-index: 999;
    background-color: black;
    opacity: 0;
    transform: translate3d(0px,5px,40px);
    transition: all 0.5s cubic-bezier(.175,.885,.32,1.275);
}

nav li:hover {
    cursor: pointer;
}
  
nav li {
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(5vh);
    text-align: right;
    width: 90%;
}
  
nav a {
    font-size: 8vw !important;
    font-family: 'Chunk Black', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}
  
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}
  
.nav-toggle:checked ~ nav li {
    opacity: 1;
    transform: translateX(0vh);
}
  
.nav-toggle:checked ~ nav li:nth-child(1) {
    transition: all 250ms ease-in-out 350ms;
}
  
.nav-toggle:checked ~ nav li:nth-child(2) {
    transition: all 250ms ease-in-out 450ms;
}
  
.nav-toggle:checked ~ nav li:nth-child(3) {
    transition: all 250ms ease-in-out 550ms;
}
  
.nav-toggle:checked ~ nav li:nth-child(4) {
    transition: all 250ms ease-in-out 650ms;
}
  
.nav-toggle:checked ~ nav li:nth-child(5) {
    transition: all 250ms ease-in-out 750ms;
}
  
.nav-toggle:checked ~ nav li:nth-child(6) {
    transition: all 250ms ease-in-out 850ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
    background:rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.nav-toggle:checked ~ .nav-toggle-label span:before {
    top: 0;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.nav-toggle:checked ~ .nav-toggle-label span:after {
    top: 0;
    transform:rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
  
@media screen and (min-width: 1180px) {
    nav li:hover a::before {
        opacity: 1;
        transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(0deg);
    }

    .tab_links:hover .link::before {
        opacity: 1;
        transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(0deg);
    }
    .nav-toggle-label {
        display: none;
    }
  
    header {
        display: grid;
        grid-template-columns: 0.1fr auto minmax(1000px, 3fr) 0.1fr;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        transition: unset;
    }
    
    .logo {
        grid-column: 2 / 3;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }
    
    nav {
        height: unset;
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: unset;
    }
    
    nav ul {
        margin-top: 5px;
        display: flex;
    }
    
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        opacity: 1;
    }
    
    nav a {
        font-size: 20px !important;
        opacity: 1;
        position: relative;
    }
}



#footer {
    box-sizing: border-box;
    color: var(--clr-text);
    bottom: 0;
    height: 190px;
    margin-bottom: 0px !important;
    width: 100vw;
}

#footer > .content {
    width: min-content;
    margin-left: 0;
    margin-right: auto;
}

#footer > div > p {
    padding-top: 20px;
    text-align: center;
}



@media (min-width: 785px) {
    .cards { 
        grid-template-columns: repeat(2, auto); 
        margin-left: 0px;
        margin-right: 00px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1150px) {
    .cards { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}
@media (min-width: 1600px) {
    .cards { 
        grid-template-columns: repeat(4, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (min-width: 2100px) {
    .cards { 
        grid-template-columns: repeat(5, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (pointer: fine) {
    .projectDescription {
        opacity: 0;
    }
    .projectIconContainer {
        height: 90%;
    }
}

@media only screen and (max-width:1000px) {
    .section_header {
        font-size: 200px;
        margin-top: 80px;
    }
    .section {
        margin-top: 0px;
    }
}



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) {
    .column {
      -ms-flex: 33%;
      flex: 33%;
      max-width: 33%;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }


.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}