@font-face {
    font-family: 'Biotif';
    src: url('fonts/Biotif-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Biotif Black';
    src: url('fonts/Biotif-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
    --clr-background: #080808;
    --clr-container-on-background: #3f525b;
    --clr-text: #cbcbcb;
    --clr-primary: hsl(96, 46%, 68%);
    --clr-footer: #0c4362
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin:0;
    background-color: var(--clr-container-on-background);
    /*background-image: linear-gradient(to right top, #25eca3, #00e1c3, #00d3da, #00c4e5, #00b3e3, #1faedc, #2da8d6, #37a3cf, #26a8c9, #23acc0, #30afb6, #42b2ab);
    background-image: url("images/bkg2.jpg");*/
    background-attachment: fixed;
    background-size: contain;
    color: var(--clr-text);
    font-family: 'Biotif', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#footer {
    background-color: var(--clr-container-on-background);
    color: var(--clr-text);
    position: sticky;
    bottom: 0;
    z-index: -1;
}

#footer > div > p {
    padding-top: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

#name {
    font-family: 'Biotif Black';
    font-size: 32px;
    margin: 0;
    /*background-image: linear-gradient(45deg, rgb(43, 250, 222) 0%, rgb(231, 117, 226) 100%);
    background-image: linear-gradient(45deg, rgb(49, 117, 110) 0%, rgb(21, 51, 127) 100%);
    -webkit-background-clip: text;*/
    color: var(--clr-background);
    padding: 0;
}

#email {
    font-size: 17px;
    background-color: #c0f0fe;
    font-family: 'Biotif Black';
    width: 150px;
    padding: 15px 15px 15px 15px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#email > a {
    color: var(--clr-background);
    text-decoration: none;
}

#email:hover > a {
    text-decoration: underline;
}

#job {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    color: var(--clr-text);
}

#photo-greeting {
    display: flex;
    flex-direction: column;
}

#greeting-container {
    display: block; 
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

#self-photo-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#interests, #projects, #experience, #education, #contacts {
    display: none;
    height: auto;
}

#sidebar {
    background-color: var(--clr-container-on-background);
    color: #c0f0fe !important;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(30px);
    width:100%;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: 0;
}

.section_divider {
    width: 100%;
}

.main {
    width:100%;
    height: 100%;
    margin-top: -10px;
    margin-bottom: 100px ;
    overflow-x: hidden;
}

#home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto;
    justify-items: center;
}

#home > * {
    background-color: var(--clr-background);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backdrop-filter: blur(15px) saturate(86%);
    width: 100%;
    margin-bottom: 0px;
}

#profile {
    padding: 0 30px 30px 30px;
    width: 100%;
    height: calc(100dvh - 65px);
    background: var(--clr-container-on-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
}

#description {
    /*font-size: 14px;*/
    border-radius: 20px 20px 0 0;
}

#educations {
    border-radius: 0 0 16px 16px;
}

.certification, .publication, .education, .project, .book {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 7px;
    box-sizing: border-box;
}

.certification-title, .publication-title, .education-title, .project-title, .book-title {
    width: 200px;
    font-size: 14px;
    padding-top: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.certification-date, .publication-date, .education-date, .project-date, .book-date {
    font-size: 10px;
    opacity: 0.8;
}

#certifications-grid, #publications-grid, #educations-grid, #projects-grid, #books-grid {
    width: 289px;
    height: 100%;
    padding: 15px 5px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
@media (max-width: 809px) {
    #projects-grid {
        grid-template-columns: repeat(1,minmax(200px,1fr));
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 8px;
    }

    #projects-grid > * {
        align-self: start;
        flex: none;
        height: 80dvh;
        justify-self: start;
        position: relative;
        width: 100%;
        border-radius: 25px;
        background-size: cover;
        background-position: center;
        padding: 10px;
    }
}

#projects-grid > *:nth-child(1) {
    background-image: url("./images/weather_img.png");
}

#projects-grid>*:nth-child(2) {
    background-image: url("./images/rotas_img.png");
}

.project-details {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: var(--clr-background);
    border-radius: 12px;
    height: 80px;
    box-sizing: border-box;
    bottom: 30px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    padding: 10px 20px;
    
}

#certifications-grid > *, #publications-grid > *, #educations-grid > *, #books-grid > * {
    height: 60px;
    width: 275px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.certification:nth-child(4), .certification:nth-child(5), .certification:nth-child(6) {
    display: none;
}

.publication img, .education img, .project img {
    border-radius: 14px;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 80px;
    font-size: 21px;
    /*background: radial-gradient(circle at 100% 0,hsla(0,0%,100%,.85) 0,rgba(243, 242, 242, 0.604) 183%);*/
    background-color: var(--clr-background);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backdrop-filter: blur(15px) saturate(86%);
    border-radius: 16px 16px 0 0;
    padding-top: 12px;
    padding-left: 0px;
    text-align: center;
    /*border-bottom: 3px solid #272727;*/
}

.banner-title {
    color: var(--clr-text);
    vertical-align: middle;
    height: 55px;
    font-size: 26px;
    width: 100%;
    padding: 10px 13px;
    border-radius: 7px;
    line-height: 38px;
    margin: 0 10px;
}

/*
@media (min-width: 760px) {
    #home {
        grid-template-columns: repeat(2, 1fr);
        width: 690px;
        margin: auto;
    }

    #home > * {
        margin: 15px;
    }

    #certifications {
        width: 660px;
        grid-column: 1 / 3;
    }

    #projects_card {
        width: 660px;
        grid-column: 1 / 3;
    }

    #certifications-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 634px;
    }

    #projects-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 634px;
    }

    .certification:nth-child(4), .certification:nth-child(5), .certification:nth-child(6) {
        display: flex;
    }

    #educations {
        width: 660px;
        grid-column: 1 / 3;
    }

    #educations-grid {
        width: 634px;
    }

    .education-title {
        width: 100%;
    }
}

@media (min-width: 1165px) {
    #home {
        grid-template-columns: repeat(3, 1fr);
        width: 1035px;
    }

    #home > * {
        margin: 15px;
    }

    #description {
        width: 660px;
        grid-column: 2 / 4;
    }

    #certifications {
        grid-column: 2 / 4;
    }
}*/

#name {
    text-align: center;
}


#position {
    text-align: center;
    margin-bottom: 20%;
}

#self-photo {
    border-radius: 20px;
    height: 200px;
    width: 270px;
    object-fit: cover;
    box-shadow: 0px 0px 20px 2px #222;
}


.outlinks{
    margin-top: 20px;
    padding-bottom: 60px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tab_dividers{
    display: none;
}


.projectBox {
    box-sizing: border-box;
    background: rgba(49, 78, 78, 0.3);
    height: 400px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.projectBox:hover {
    background: rgba(49, 78, 78, 0.5);
    cursor: pointer;
}

a.certification, a.publication, a.project, a.book {
    color: var(--clr-text);
    text-decoration: none;
}

.header_title {
    text-align: center;
    font-family: 'Biotif';
    margin-top: 20px;
    font-weight: bolder;
    font-size: 40px;
}

#header_description {
    text-align: justify;
    font-family: 'Biotif', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
    max-width: 40ch;
}

@media (max-width: 620px) {
    #header_description {
        padding-left: 10px;
        padding-right: 10px;
    }
}

a:hover {
    cursor: pointer;
}

.links_text {
    display: block;
    font-size: 12px;
    color: var(--clr-text);
}

.links {
    display: inline-block;
    font-size: 35px;
    width: 100px;
    margin-top: 0;
}

.links_icon:hover {
    cursor: pointer;
}

.links_icon > img {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    transition: 2ms ease-in-out;
}

.links_icon > img {
    transform: scale(1.1);
}

.tab_links {
    display: inline-block;
    position: relative;
    top:50%;
    transform: translateY(-35%);
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
}

.link::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom:-1px;
    /*background-color: rgb(103, 177, 190);*/
    background-color: #c0f0fe;
    opacity: 0;
    transform: translate3d(0,5px,0);
    transition: all 0.5s cubic-bezier(.175,.885,.32,1.275);
}

.tab_links:hover {
    cursor: pointer;
}

.tab_links:hover .link::before {
    opacity:1;
    transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(0deg);
}

.link_container {
    position: relative;
    top: 50%;
    transform: translateY(100%);
}

.link {
    margin:0;
    text-align: center;
    font-size: 1.17em;
    line-height: 1.17em;
    width: min-content;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

.tabs {
    width: 100%;
    overflow: scroll;
    height: 70px;
}

#tabs_container {
    display: inline-block;
    width: max-content;
    margin-right: 40px;
    height: 100%;
}

.section_header {
    text-align: center;
    font-size: 400px;
    position: fixed;
    margin-top: -150px;
    top: 0;
    font-weight: 900;
    opacity: 0.02;
    z-index: -1;
}

.section {
    margin-top: 0;
}

.activities {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1, auto);
}


@media (min-width: 900px) {
    .activities { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1300px) {
    #experience > .content > .activities { 
        grid-template-columns: repeat(3, 1fr);
    }
}


.activity {
    box-sizing: border-box;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 45px; */
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    /*background-image: linear-gradient(45deg, rgba(150, 208, 200, 1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);*/
    background-position: left;
    background-color: #191919;
    background-size: 300%;
}

.activity_title {
    width: 100%;
    text-align: left;
    margin-top: 0px;
}

.activity_info {
    width: 100%;
}

.activity_icons {
    width: 5%;
    text-align: center;
}


.cards { 
    /*padding-right: 30px;
    padding-left: 30px;*/
    padding-bottom: 0px;
    margin-right: 0px;
    min-height: 400px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1, auto);
    overflow-y: scroll;
    color: black;
}


.cards > a {
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    /*max-width: 350px;*/
    /*background: rgba(49, 78, 78, 0.4);
    background-image: linear-gradient(45deg, rgba(186,255,246,1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);
    transition: background-position 0.5s ease-in-out;
    background-position: left;
    background-size: 300%;*/
    background-color: #111;
    color: white;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.card:before {
    content: '';
    position: absolute;
    border-radius: 18px;
    /*top: -5px;
    left: -5px;*/
    background-color: white;
    background-image: linear-gradient(45deg, rgba(186,255,246,1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);
    width: 360px;
    height: 410px;
    top: -5px;
    left: -5px;
    z-index: -1;
}


.card:hover {
    cursor: pointer;
    background-color: #222;
}

.card:hover .projectDescription{
    opacity: 0;
}

/*.card:hover .projectIconContainer {
    height: 80%;
}*/

.projectTitle {
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    top: 0;
    left: 0;
    height: 22%;
}

.projectTitle > p {
    margin: 0;
    font-weight: 1000;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: 0.007em;
}

.projectSubtitle {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom:0;
    z-index: 100;
}

.projectSubtitle > p {
    margin-top: 0;
}

.projectIcon {
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    margin-top: 30px;
}

.projectIconContainer {
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    transition: height 0.25s ease-in-out;
}

.projectIconContainer > img {
    width: 100%;
}

.projectDescription{
    opacity:0; 
    bottom: 0;
    transition: opacity 0.25s ease-in-out;/*, height 0.25s ease-in-out*/;
    width: 100%;
    height: 40%;
    background-image:linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 100%); 
    margin-bottom: 0; 
    position: absolute;
    margin-top:0px;
    border-top-left-radius: 00px;
    border-top-right-radius: 00px; 
    border-bottom-left-radius: 18px; 
    border-bottom-right-radius: 18px;
}

#weather_card::before {
    background-image: linear-gradient(45deg, rgb(191, 220, 235) 0%, rgb(176, 214, 220) 14%, rgb(173, 230, 208) 78%, rgb(73, 219, 158) 100%);
}
#finance_card::before {
    background-image: linear-gradient(45deg, rgb(126, 189, 155) 0%, rgb(118, 214, 197) 20%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}
#caramulo_card::before {
    background-image: linear-gradient(45deg, rgb(230, 188, 110) 0%, rgb(199, 220, 143) 20%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}
#audio_card::before {
    background-image: linear-gradient(45deg, rgb(230, 110, 110) 0%, rgb(238, 211, 201) 30%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}


@media (min-width: 785px) {
    .cards { 
        grid-template-columns: repeat(2, auto); 
        margin-left: 0px;
        margin-right: 00px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1150px) {
    .cards { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}
@media (min-width: 1600px) {
    .cards { 
        grid-template-columns: repeat(4, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (min-width: 2100px) {
    .cards { 
        grid-template-columns: repeat(5, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (pointer: fine) {
    .projectDescription {
        opacity: 0;
    }
    .projectIconContainer {
        height: 90%;
    }
}

@media only screen and (max-width:1000px) {
    .section_header {
        font-size: 200px;
        margin-top: 80px;
    }
    .section {
        margin-top: 0px;
    }
}