@font-face {
    font-family: 'Biotif';
    src: url('fonts/Biotif-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

::-webkit-scrollbar {
    display: none;
}

#interests, #projects, #experience, #education, #contacts {
    display: none;
    height: auto;
}

#sidebar {
    background-color: rgb(26, 26, 26); 
    width:100%;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    position: fixed;
    top:0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.section_divider {
    width: 100%;
}

.main{
    width:100%;
    height: 100%;
    scroll-behavior: smooth;
    margin-top: 110px;
}

#name {
    text-align: center;
}

.bodymovinanim {
    display: none;
    width: 90%;
    max-width: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 2%;
  }

#position {
    text-align: center;
    margin-bottom: 20%;
}

body {
    margin:0;
    background-color: #111;
    color: white;
    font-family: 'Biotif', sans-serif;
    width: 100%;
}

.photo {
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
}

#self_photo {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; 
    width: 33%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(3, 3, 3);
}

.outlinks{
    padding-top: 50px;
    width: max-content;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 80px 80px;
    grid-template-columns: repeat(1, 100px);
    justify-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 300px) {
    .outlinks { 
        grid-template-columns: repeat(2, auto); 
    }
}

@media (min-width: 520px) {
    .outlinks { 
        grid-template-columns: repeat(4, auto); 
    }
}

.tab_dividers{
    display: none;
}


.projectBox {
    box-sizing: border-box;
    background: rgba(49, 78, 78, 0.3);
    height: 400px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.projectBox:hover {
    background: rgba(49, 78, 78, 0.5);
    cursor: pointer;
}


a {
    color: white;
    text-decoration: none;
}

.header_title {
    text-align: center;
    font-family: 'Biotif';
    margin-top: 20px;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0.5px 0.5px 1px #333333;
}

.header_description {
    text-align: justify;
    font-family: 'Biotif', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
    max-width: 600px
}

@media (max-width: 620px) {
    .header_description {
        padding-left: 10px;
        padding-right: 10px;
    }
}

a:hover {
    cursor: pointer;
}

.links_text {
    display: block;
    font-size: 0.5em;
}

.links {
    display: inline-block;
    font-size: 35px;
    width: 100px;
    margin-top: 0;
}

.links:hover .links_text, .links:hover .links_icon {
    color: rgb(103, 177, 190); 
}

.links_icon:hover {
    cursor: pointer;
}

.tab_links {
    display: inline-block;
    position: relative;
    top:50%;
    transform: translateY(-35%);
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
}

.link::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    background-color: rgb(103, 177, 190);
    opacity: 0;
    transform: translate3d(0,5px,0);
    transition: all 0.5s cubic-bezier(.175,.885,.32,1.275);
}

.tab_links:hover {
    cursor: pointer;
}

.tab_links:hover .link::before {
    opacity:1;
    transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(0deg);
}

.link_container {
    position: relative;
    top: 50%;
    transform: translateY(100%);
}

.link {
    margin:0;
    text-align: center;
    font-size: 1.17em;
    line-height: 1.17em;
    width: min-content;
    color: white;
    vertical-align: middle;
}

.tabs {
    width: 100%;
    overflow: scroll;
    height: 70px;
}

#tabs_container {
    display: inline-block;
    width: max-content;
    margin-right: 40px;
    height: 100%;
}

hr {
    border: none;
    width: 60%;
    height: 2px;
    background-color: gray;
}

.section_header {
    text-align: center;
    font-size: 400px;
    position: fixed;
    margin-top: -150px;
    top: 0;
    font-weight: 900;
    opacity: 0.02;
    z-index: -1;
}

.section {
    margin-top: 0;
}


.content {
    margin-top:60px;
}

.exp_divider {
    background-color: lightgrey;
    width: 80%;
}

.activities {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1, auto);
}


@media (min-width: 1000px) {
    .activities { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1600px) {
    #experience > .content > .activities { 
        grid-template-columns: repeat(3, 1fr);
    }
}


.activity {
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 45px;*/
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    /*background-image: linear-gradient(45deg, rgba(150, 208, 200, 1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);*/
    background-position: left;
    background-color: #191919;
    background-size: 300%;
}

.activity_title {
    width: 100%;
    text-align: left;
    margin-top: 0px;
}

.activity_info {
    width: 100%;
}

.activity_icons {
    width: 5%;
    text-align: center;
}


.cards { 
    /*padding-right: 30px;
    padding-left: 30px;*/
    padding-bottom: 0px;
    margin-right: 0px;
    min-height: 400px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1, auto);
    overflow-y: scroll;
    color: black;
}


.cards > a {
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    /*max-width: 350px;*/
    /*background: rgba(49, 78, 78, 0.4);
    background-image: linear-gradient(45deg, rgba(186,255,246,1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);
    transition: background-position 0.5s ease-in-out;
    background-position: left;
    background-size: 300%;*/
    background-color: #111;
    color: white;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.card:before {
    content: '';
    position: absolute;
    border-radius: 18px;
    /*top: -5px;
    left: -5px;*/
    background-color: white;
    background-image: linear-gradient(45deg, rgba(186,255,246,1) 0%, rgba(196,240,246,1) 21%, rgba(238,213,174,1) 78%, rgba(255,208,229,1) 100%);
    width: 310px;
    height: 410px;
    top: -5px;
    left: -5px;
    z-index: -1;
}


.card:hover {
    cursor: pointer;
    background-color: #222;
}

.card:hover .projectDescription{
    opacity: 0;
}

/*.card:hover .projectIconContainer {
    height: 80%;
}*/

.projectTitle {
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    top: 0;
    left: 0;
    height: 22%;
}

.projectTitle > p {
    margin: 0;
    font-weight: 1000;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: 0.007em;
}

.projectSubtitle {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom:0;
    z-index: 100;
}

.projectSubtitle > p {
    margin-top: 0;
}

.projectIcon {
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    margin-top: 30px;
}

.projectIconContainer {
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    transition: height 0.25s ease-in-out;
}

.projectIconContainer > img {
    width: 100%;
}

.projectDescription{
    opacity:0; 
    bottom: 0;
    transition: opacity 0.25s ease-in-out;/*, height 0.25s ease-in-out*/;
    width: 100%;
    height: 40%;
    background-image:linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 100%); 
    margin-bottom: 0; 
    position: absolute;
    margin-top:0px;
    border-top-left-radius: 00px;
    border-top-right-radius: 00px; 
    border-bottom-left-radius: 18px; 
    border-bottom-right-radius: 18px;
}

#weather_card::before {
    background-image: linear-gradient(45deg, rgb(191, 220, 235) 0%, rgb(176, 214, 220) 14%, rgb(173, 230, 208) 78%, rgb(73, 219, 158) 100%);
}
#finance_card::before {
    background-image: linear-gradient(45deg, rgb(126, 189, 155) 0%, rgb(118, 214, 197) 20%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}
#caramulo_card::before {
    background-image: linear-gradient(45deg, rgb(230, 188, 110) 0%, rgb(199, 220, 143) 20%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}
#audio_card::before {
    background-image: linear-gradient(45deg, rgb(230, 110, 110) 0%, rgb(238, 211, 201) 30%, rgb(173, 230, 208) 78%, rgb(243, 229, 235) 100%);
}


@media (min-width: 735px) {
    .cards { 
        grid-template-columns: repeat(2, auto); 
        margin-left: 0px;
        margin-right: 00px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1100px) {
    .cards { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}
@media (min-width: 1600px) {
    .cards { 
        grid-template-columns: repeat(4, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (min-width: 2100px) {
    .cards { 
        grid-template-columns: repeat(5, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}

@media (pointer: fine) {
    .projectDescription {
        opacity: 0;
    }
    .projectIconContainer {
        height: 90%;
    }
}

@media only screen and (max-width:1000px) {
    .section_header {
        font-size: 200px;
        margin-top: 80px;
    }
    .section {
        margin-top: 0px;
    }
}