::-webkit-scrollbar {
    display: none;
}

.sidebar {
    float:left;
    position:fixed; 
    background-color:lightgrey; 
    width:16%;
    height:100%;
    box-shadow: 3px 0px 7px darkgray;
    overflow: hidden;
}

.copyright {
    width: 16%;
}

.section_divider {
    width: 100%;
}

.main{
    z-index:-1000;
    right: 0;
    position: absolute; 
    width:fit-content;
    max-width: 84%; 
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#name {
    text-align: center;
}

.bodymovinanim {
    display: none;
    width: 90%;
    max-width: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 2%;
  }

#position {
    text-align: center;
    margin-bottom: 20%;
}

body {
    margin:0;
    background-color: whitesmoke;
    font-family: Montserrat;
    width: 100%;
}

.photo {
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
}

#self_photo {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; 
    width: 33%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px darkgray;
}

.tab_links, .outlinks, .tab_dividers {
    display: block;
}

.psWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding: 10px 10px 20px 10px;
    margin-bottom: 40px;
}

.projectBox {
    box-sizing: border-box;
    background: rgba(49, 78, 78, 0.3);
    height: 400px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.projectBox:hover {
    background: rgba(49, 78, 78, 0.5);
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
/* For mobile phones: */
    .sidebar, .main, .copyright, .outlinks {
        width:100% !important;
        max-width: 100% !important;
        float: none !important;
        position: static !important;
    }
    .sidebar {
        box-shadow: 10px 3px 7px darkgray;
        height: auto;
    }

    .tab_links, .outlinks, .tab_dividers {
        display: none;
    }
    
    .bodymovinanim {
        display: block;
        position: absolute;
        margin-top: 3%;
        margin-left: 80%;
        width: auto ;
    }

    #self_photo {
        width: 10%;
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 6%;
        float:left;
    }
    #name {
        position: relative;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 0%;
        text-align: left;
    }

    #position {
        position: relative;
        margin-bottom: 5%;
        margin-top: 1%;
        margin-left: 10%;
        text-align: left;
        color:#333333
    }

    .links_text {
        display: none;
    }

    .links {
        display: inline-block;
        font-size: 35px;
        padding: 8px;
    }

    footer {
        bottom: 0px !important;
        margin-top: 10px;
    }

    .links_icon:hover {
        cursor: pointer;
    }

    .outlinks{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}



a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h5 {
    text-align: center
}
.header_title {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0;
    margin-left: 40px;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 0.5px 0.5px 1px #333333;
}

a:hover {
    color: rgb(100, 100, 100) !important;
    cursor: pointer;
}

footer {    
    float:left;
    position:fixed;
    bottom: 5px;
    text-align: center;
    font-size: 10px;
    width: 23%;
    height: 20px;
    color: rgb(100, 100, 100);
}


.outlinks {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

h4.tab_links {
    text-align: center;
    width: 100%;
    color: whitesmoke;
}

.tabs {
    width: 100%;
}

hr {
    border: none;
    width: 60%;
    height: 2px;
    background-color: gray;
}

.section_header {
    text-align: center;
}


.content {
    margin-top:60px;
}

.exp_divider {
    background-color: lightgrey;
    width: 80%;
}

.activity {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 70%;
}

.activity_title {
    width: 100%;
    text-align: left;
}

.activity_info {
    width: 100%;
}

.activity_icons {
    width: 5%;
    text-align: center;
}

#home {
    background-color: whitesmoke;
}

#interests {
    background-color: whitesmoke;
}

#projects {
    background-color: whitesmoke;
}

#experience {
    background-color: whitesmoke;
}



/* css for image carousel */
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.6;
    cursor: pointer;
    width: 100%;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
    width: 60%;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .row {
      width: 100%;
      display: flex;
      justify-content: center;
  }



  /* image popup css*/
  /* Style the Image Used to Trigger the Modal */
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #img01 {
      border-radius: 10px;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    align-items: center;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }



.cards { 
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
    overflow-y: scroll;
}

.card {
    max-width: 500px;
    min-width: 300px;
    background: rgba(49, 78, 78, 0.4);
    transition: background 0.25s ease-in-out !important;
    color: white;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.4);
}

.card:hover {
    cursor: pointer;
    background: rgba(49, 78, 78, 0.6);
}

.card:hover .projectDescription{
    opacity: 1 !important;
}

.projectTitle {
    padding-left: 10px;
    padding-right: 10px; 
    height: 50px;
}

.projectDescription{
    opacity:0; 
    transition: opacity 0.25s ease-in-out !important;
    width: 100%; 
    height: 120px; 
    background-color:burlywood; 
    margin-bottom: 0px; 
    margin-top:114px; 
    position:static; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

@media (max-width: 1024px) {
    .projectDescription {
        opacity: 1;
    }
}

@media (min-width: 670px) {
    .cards { 
        grid-template-columns: repeat(2, 1fr); 
        margin-left: 60px;
        margin-right: 60px;
    }

}

@media (min-width: 1250px) {
    .cards { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 150px auto;
        margin-right: 150px auto;
    }
}